@model GestionMedicoBackend.Models.EmailTemplateModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Restablecer Contraseña</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f7;
            color: #51545e;
            margin: 0;
            padding: 0;
            -webkit-text-size-adjust: none;
        }

        .email-wrapper {
            width: 100%;
            background-color: #f4f4f7;
            padding: 20px;
        }

        .email-content {
            width: 100%;
            max-width: 600px;
            margin: 0 auto;
            background-color: #ffffff;
            border-radius: 8px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            overflow: hidden;
        }

        .email-header {
            background-color: #43A49B;
            padding: 20px;
            text-align: center;
            color: #ffffff;
        }

        .email-body {
            padding: 20px;
            text-align: center;
        }

        .email-footer {
            text-align: center;
            padding: 20px;
            color: #a8aaaf;
            font-size: 12px;
        }

        .button {
            display: inline-block;
            padding: 10px 20px;
            margin: 20px auto;
            font-size: 16px;
            color: #ffffff;
            background-color: #408D86;
            border-radius: 5px;
            text-decoration: none;
        }

        .content-cell {
            padding: 35px;
        }

        .sub {
            color: #6b6e76;
            font-size: 12px;
            text-align: center;
        }

        .footer {
            text-align: center;
            padding: 20px;
            color: #a8aaaf;
            font-size: 12px;
        }
    </style>
</head>
<body>
    <div class="email-wrapper">
        <div class="email-content">
            <div class="email-header">
                <h1>Restablecer tu Contraseña</h1>
            </div>
            <div class="email-body">
                <p>Hola @Model.Username,</p>
                <p>Hemos recibido una solicitud para restablecer tu contraseña sino la solicitaste, por favor ignora este correo</p>
                <p>Para restablecer tu contraseña, haz clic en el siguiente enlace:</p>
                <p><a href="@Model.ResetLink" class="button">Restablecer Contraseña</a></p>
                <p>Este enlace es válido por una sola vez y expira en 1 hora.</p>
            </div>
            <div class="email-footer">
                <p class="sub">&copy; 2024 Gestión Médico. Todos los derechos reservados.</p>
                <p class="sub">México - 1234 Avenida Cancun - Cancun, QRoo - 77500</p>
            </div>
        </div>
    </div>
</body>
</html>
